<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600765054597-urlchoac32kps04uo2fdc2ghn64t5jpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600765054597-urlchoac32kps04uo2fdc2ghn64t5jpe</string>
	<key>API_KEY</key>
	<string>AIzaSyC2SSCfUDws9ySbGZSjRh8Dlbxv4aez7bc</string>
	<key>GCM_SENDER_ID</key>
	<string>600765054597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaboo.Tinder-Analog</string>
	<key>PROJECT_ID</key>
	<string>tinderanalog</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderanalog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600765054597:ios:67dd52847aacc033afb3ec</string>
	<key>DATABASE_URL</key>
	<string>https://tinderanalog.firebaseio.com</string>
</dict>
</plist>